<div class="container">

  <div class="header">
    <div class="header-top">
      <h2 class="title">Flexible Forecast</h2>
      <div class="header-box">
        <p-dropdown
          [options]="versions"
          [(ngModel)]="selectedVersion"
          optionLabel="name"
          placeholder="Version"
        ></p-dropdown>
        <p-dropdown
          [options]="projects"
          [(ngModel)]="selectedProject"
          optionLabel="name"
          placeholder="Project"
        ></p-dropdown>
        <p-dropdown
          [options]="cproVersions"
          [(ngModel)]="selectedCproVersion"
          optionLabel="name"
          placeholder="CPRO Version"
        ></p-dropdown>
        <input type="text" pInputText placeholder="CPRO version name" />
      </div>
    </div>
    <div class="formula-box">
      <button
        type="text"
        class="btn btn-formula"
        pButton
        (click)="op.toggle($event)"
      >
        <img alt="dropdown icon" class="i-formula" src="../assets/formula.png" />
      </button>

      <p-overlayPanel #op [showCloseIcon]="true">
        <ng-template pTemplate>
          <!-- 收合按鈕 -->
          <div style="margin: 10px 0">
            <button
              pButton
              class="btn btn-secondary"
              type="button"
              label="全部展開"
              (click)="expandAll()"
              style="margin-left: 0"
            ></button>
            <button
              pButton
              class="btn"
              type="button"
              label="全部收起"
              (click)="collapseAll()"
            ></button>
          </div>
          <p-tree
            [value]="files2"
            class="c-tree"
            selectionMode="multiple"
            (onNodeSelect)="nodeSelect($event)"
          ></p-tree>
          <button
            pButton
            type="button"
            label="確認"
            class="btn"
            (click)="op.hide()"
          ></button>
        </ng-template>
      </p-overlayPanel>
      <input type="text" #formulaInput pInputText style="width: 100%" [value]="getEditFormula()"  (change)="saveFormula($event)"/>
    </div>
  </div>
  <div class="table-freeze">
    <p-table
      [value]="customers"
      scrollDirection="both"
      [scrollable]="true"
      scrollHeight="calc(100vh - 200px)"
      styleClass="p-mt-3 p-datatable-sm"
      rowGroupMode="rowspan"
      groupRowsBy="group"
      sortMode="single"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px" pFrozenColumn>項目</th>
          <th style="min-width: 300px" pFrozenColumn>金額類別</th>
          <th style="min-width: 150px">Accumulated to last FY end</th>
          <th style="min-width: 100px">This year</th>
          <th *ngFor="let col of fcCols" style="min-width: 100px">
            {{col}}
          </th>
        </tr>
      </ng-template>
      <ng-template
        sortField="company"
        pTemplate="body"
        let-customer
        let-rowIndex="rowIndex"
        let-rowgroup="rowgroup"
        let-rowspan="rowspan"
      >
        <tr>

            <!-- 項目  -->
            <td
              *ngIf="rowgroup"
              [attr.rowspan]="rowspan"
              style="min-width: 200px"
              pFrozenColumn
            >
              <span class="p-text-bold p-ml-2">{{ customer.name }} </span>
            </td>
            <!--  金額類別  -->
            <td style="min-width: 300px;" pFrozenColumn >
              <div class="formula-feild">
                <span>{{ customer.company }}</span>

              <img  *ngIf="!customer.editable" width="25px" height="25px" alt="dropdown icon" class="i-formula " src="../assets/formula.png"  (click)="setEditFormula(customer.company)"/>
              </div>
            </td>

          <!-- Accumulated to last FY end  -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="min-width: 150px;" class="editable">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="customer.lastend"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ customer.lastend }}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 150px">
              <span class="p-text-bold p-ml-2">{{ customer.lastend }} </span>
            </td>
          </ng-container>
          <!-- This year -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="min-width: 150px;" class="editable">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="customer.thisyear"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ customer.thisyear }}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 150px">
              <span class="p-text-bold p-ml-2">{{ customer.thisyear }} </span>
            </td>
          </ng-container>
          <!-- 202209 -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="min-width: 100px;" class="editable" *ngFor="let col of fcCols" >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [value]="resolveField(customer.FC,col)"
                    (change)="assign(customer.FC, col ,$event)"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ resolveField(customer.FC,col)}}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 100px"  *ngFor="let col of fcCols; let i = index" >
              <span class="p-text-bold p-ml-2"
                >{{ calc(customer,col,i) }}
              </span>
            </td>
          </ng-container>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
