.btn {
  background-color: rgb(106, 161, 228);
  margin-left: 10px;
  border: transparent;
  &:enabled:hover {
    background-color: rgb(106, 161, 228);
    opacity: 0.7;
  }
  &-secondary {
    background-color: #6db7bc;
    &:enabled:hover {
      background-color: #6db7bc;
      opacity: 0.7;
    }
  }
  &-export ::ng-deep {
    display: block;
    .pi {
      margin-right: 4px;
    }
  }
  &-formula {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0 10px 0 0;
    padding: 11px 12px 10px 10px;
    border: 1px solid #3e8f77;
    &:enabled:hover {
      background-color: #e6f4eb;
      border: 1px solid #e6f4eb;
    }
    img {
      width: 20px;
      height: 18px;
    }
  }
}

.formula {
  &-box {
    padding: 20px  0 0;
    display: flex;
    align-items: center;
  }
}
