<div class="container">
  <div class="formula-box" >
    <button
      type="text"
      class="btn btn-formula"
      pButton
      (click)="op.toggle($event)"
    >
      <img alt="dropdown icon" class="i-formula" src="../assets/formula.png" />
    </button>
    <p-overlayPanel #op [showCloseIcon]="true">
      <ng-template pTemplate>
        <!-- 收合按鈕 -->
        <div style="margin: 10px 0">
          <button
            pButton
            class="btn btn-secondary"
            type="button"
            label="全部展開"
            (click)="expandAll()"
            style="margin-left: 0"
          ></button>
          <button
            pButton
            class="btn"
            type="button"
            label="全部收起"
            (click)="collapseAll()"
          ></button>
        </div>
        <p-tree
          [value]="files2"
          class="c-tree"
          selectionMode="multiple"
          (onNodeSelect)="nodeSelect($event)"
        ></p-tree>
        <button
          pButton
          type="button"
          label="確認"
          class="btn"
          (click)="op.hide()"
        ></button>
      </ng-template>
    </p-overlayPanel>
    <input type="text" #formulaInput pInputText style="width: 100%" />
  </div>
  <div class="table-freeze">
    <p-table
      [value]="customers"
      scrollDirection="both"
      [scrollable]="true"
      scrollHeight="calc(100vh - 100px)"
      styleClass="p-mt-3 p-datatable-sm"
      rowGroupMode="rowspan"
      groupRowsBy="group"
      sortMode="single"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 200px" pFrozenColumn>項目</th>
          <th style="min-width: 300px" pFrozenColumn>金額類別</th>
          <th style="min-width: 150px">Accumulated to last FY end</th>
          <th style="min-width: 100px">This year</th>
          <th *ngFor="let col of fcCols" style="min-width: 100px">
            {{col}}
          </th>
        </tr>
      </ng-template>
      <ng-template
        sortField="company"
        pTemplate="body"
        let-customer
        let-rowIndex="rowIndex"
        let-rowgroup="rowgroup"
        let-rowspan="rowspan"
      >
        <tr>

            <!-- 項目  -->
            <td
              *ngIf="rowgroup"
              [attr.rowspan]="rowspan"
              style="min-width: 200px"
              pFrozenColumn
            >
              <span class="p-text-bold p-ml-2">{{ customer.name }} </span>
            </td>
            <!--  金額類別  -->
            <td style="min-width: 300px;" pFrozenColumn>
              {{ customer.company }}
            </td>

          <!-- Accumulated to last FY end  -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="background: #cae9d5; min-width: 150px;">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="customer.lastend"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ customer.lastend }}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 150px">
              <span class="p-text-bold p-ml-2">{{ customer.lastend }} </span>
            </td>
          </ng-container>
          <!-- This year -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="background: #cae9d5 ;min-width: 150px">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="customer.thisyear"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ customer.thisyear }}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 150px">
              <span class="p-text-bold p-ml-2">{{ customer.thisyear }} </span>
            </td>
          </ng-container>
          <!-- 202209 -->
          <ng-container *ngIf="customer.editable">
            <td pEditableColumn style="background: #cae9d5; min-width: 100px;" (click)="getData(customer,$event)" *ngFor="let col of fcCols" >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [value]="resolveField(customer.FC,col)"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ resolveField(customer.FC,col)}}
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
          <ng-container *ngIf="!customer.editable">
            <td pEditableColumn style="min-width: 100px" (click)="getData(customer,$event)" *ngFor="let col of fcCols" >
              <span class="p-text-bold p-ml-2"
                >{{ resolveField(customer.FC,col) }}
              </span>
            </td>
          </ng-container>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
