.btn {
  background-color: transparent;
  border: 1px solid #eebd49;
  color: #dea92f;
  margin-left: 10px;
  padding: 10px 12px;
  &:enabled:hover {
    background-color: #eebd49;
    border: 1px solid transparent;
    color: #fff;
  }
  &-secondary {
    background-color: transparent;
    border: 1px solid #3e8f77;
    color: #3e8f77;
    &:enabled:hover {
      background-color: #3e8f77;
      color: #fff;
    }
  }
  &-comfirm {
    border: 1px solid transparent;
    background-color: #147a5b;
    color: #fff;
    width: 100%;
    margin-left: 0;
    &:enabled:hover {
      background-color: transparent;
      border: 1px solid #147a5b;
      color: #147a5b;
    }
  }
  &-export ::ng-deep {
    display: block;
    .pi {
      margin-right: 4px;
    }
  }
  &-formula {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0 10px 0 0;
    padding: 11px 12px 10px 10px;
    border: 1px solid #3e8f77;
    &:enabled:hover {
      background-color: #e6f4eb;
      border: 1px solid #e6f4eb;
    }
    img {
      width: 20px;
      height: 18px;
    }
  }
  &-icon{
    padding: 4px 10px;
  }
}

.formula {
  &-box {
    padding: 20px 0 0;
    display: flex;
    align-items: center;
  }
}
