<div class="container">
  <!-- 版本選擇 -->

  <div class="card">
    <p-table [value]="products1" dataKey="id" [columns]="getCols()">
      <ng-template pTemplate="caption">
        <div class="flex c-table-header">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="btn-export p-button-success p-button-outlined mr-2 btn"
            pTooltip="XLS"
            tooltipPosition="bottom"
          >
            XLS
          </button>
          <div class="c-inputCard flex justify-content-center">
            <p-dropdown
              [options]="versions"
              [(ngModel)]="headers"
              optionLabel="name"
              optionValue="setting"
              [showClear]="true"
              placeholder="Select a Version"
            >
            </p-dropdown>
            <p-multiSelect
              [options]="allCols"
              onChange="getCols($event)"
              [(ngModel)]="cols"
              optionLabel="header"
              class="c-inputCard-multiSelect"
            ></p-multiSelect>
            <p-button
              label="新增欄位"
              icon="pi pi-plus"
              iconPos="left"
              (click)="addcol.toggle($event)"
            >
            </p-button>
            <p-overlayPanel #addcol [showCloseIcon]="true">
              <ng-template pTemplate>
                <input
                  type="text"
                  pInputText
                  #formulaInput
                  [(ngModel)]="header"
                  style="width: 100%"
                />
                <button
                  pButton
                  type="button"
                  label="確認"
                  class="btn"
                  (click)="addCustCol(); addcol.hide()"
                ></button>
              </ng-template>
            </p-overlayPanel>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index">
            <div class="t-hand p-d-flex p-jc-between p-ai-center">
              <p class="t-hand-title">{{ col.header }}</p>
              <button type="text" pButton (click)="op.toggle($event)">
                <img
                  alt="dropdown icon"
                  class="i-formula"
                  src="../assets/formula.png"
                />
              </button>
              <p-overlayPanel #op [showCloseIcon]="true">
                <ng-template pTemplate>
                  <input
                    type="text"
                    pInputText
                    #formulaInput
                    [value]="getColFormula(col.field)"
                    style="width: 100%"
                  />
                  <!-- 收合按鈕 -->
                  <div style="margin: 10px 0">
                    <button
                      pButton
                      class="btn btn-secondary"
                      type="button"
                      label="全部展開"
                      (click)="expandAll()"
                      style="margin-left: 0"
                    ></button>
                    <button
                      pButton
                      class="btn"
                      type="button"
                      label="全部收起"
                      (click)="collapseAll()"
                    ></button>
                  </div>
                  <p-tree
                    [value]="files2"
                    class="c-tree"
                    selectionMode="multiple"
                    (onNodeSelect)="nodeSelect($event, i, col.field, -1)"
                    (onNodeUnselect)="nodeUnselect($event)"
                  ></p-tree>
                  <button
                    pButton
                    type="button"
                    label="確認"
                    class="btn"
                    (click)="setColFormula(col.field); op.hide()"
                  ></button>
                </ng-template>
              </p-overlayPanel>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-product
        let-columns="columns"
        let-rowIdx="rowIndex"
      >
        <tr class="c-body-output">
          <!-- body內資料 -->
          <td pEditableColumn *ngFor="let col of columns; let colIdx = index">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <span class="p-input-icon-right">
                  <i
                    (click)="
                      op1.toggle($event); getRowColFormula(col.field, rowIdx)
                    "
                  >
                    <img
                      alt="dropdown icon"
                      class="i-formula"
                      src="../assets/formula.png"
                  /></i>
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="product[col.field]"

                  />
                </span>
                <p-overlayPanel #op1 [showCloseIcon]="true">
                  <ng-template pTemplate>
                    <input
                      type="text"
                      pInputText
                      #rowformulaInput
                      [value]="getRowColFormula(col.field, rowIdx)"
                      style="width: 100%"
                    />
                    <p>{{ printFormula }}</p>
                    <!-- 收合按鈕 -->
                    <div style="margin: 10px 0">
                      <button
                        pButton
                        class="btn btn-primary"
                        type="button"
                        label="全部展開"
                        (click)="expandAll()"
                        style="margin-left: 0"
                      ></button>
                      <button
                        pButton
                        class="btn p-button-secondary"
                        style="background-color: #6db7bc"
                        type="button"
                        label="全部收起"
                        (click)="collapseAll()"
                      ></button>
                    </div>
                    <p-tree
                      [value]="files2"
                      class="c-tree"
                      selectionMode="multiple"
                      (onNodeSelect)="
                        nodeSelect($event, colIdx, col.field, rowIdx)
                      "
                      (onNodeUnselect)="nodeUnselect($event)"
                    ></p-tree>
                    <button
                      pButton
                      type="button"
                      label="確認"
                      class="btn"
                      (click)="setRowColFormula(col.field, rowIdx); op1.hide(); outPutRowIdx(col.field,rowIdx,$event)"
                    ></button>
                  </ng-template>
                </p-overlayPanel>
              </ng-template>
              <ng-template pTemplate="output">
                <div
                [ngClass]="{ 'input-formula': isHidden }"
                >
                  {{
                    getColFormula(col.field)
                      ? calc(product, col.field, rowIdx)
                      : product[col.field]
                  }}
                </div>
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns>
        <tr class="footer">
          <th *ngFor="let col of columns; let i = index">
            <div class="footer-item" *ngIf="checkType(col.field)">
              <p-dropdown
                [options]="cities"
                [dataKey]="getColCalculate(col.field)"
                (onChange)="setColCalculate($event, col.field)"
                optionLabel="name"
                optionValue="code"
                class="total-select"
              ></p-dropdown>
              <p class="t-hand-title">{{ footerSum(col.field) }}</p>
            </div>
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
