<div class="card">
  <h5>Cell Editing</h5>
  <p-table [value]="products1" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let header of headers">
          <div class="t-hand p-d-flex p-jc-between p-ai-center">
            <p class="t-hand-title">{{ header.colName }}  </p>

            <button type="text" pButton  (click)="op.toggle($event)" icon="pi pi-search">
              <img alt="dropdown icon" class="i-formula" src="../assets/formula.png">
            </button>
            <p-overlayPanel #op [showCloseIcon]="true">
              <ng-template pTemplate>
                <input type="text" pInputText [(ngModel)]="value">
                <button pButton type="button" label="確認" class="btn" (click)="getValue(header.colName)"></button>
              </ng-template>
          </p-overlayPanel>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="product.code" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.code }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.name"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.name }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="product.name"
                required
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.inventoryStatus }}
            </ng-template>
          </p-cellEditor>
        </td>
        <!-- <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                [options]="statuses"
                [(ngModel)]="product.inventoryStatus"
                [style]="{ width: '100%' }"
              ></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ product.inventoryStatus }}
            </ng-template>
          </p-cellEditor>
        </td> -->
      </tr>
    </ng-template>
  </p-table>
</div>
<router-outlet></router-outlet>
