<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-group">
      <label for="name">名稱:</label>
      <input
          formControlName="name"
          id="name"
          type="text"
          class="form-control">
  </div>

  <div class="form-group">
      <label for="unitPrice">數量</label>
      <input
          formControlName="unitPrice"
          id="unitPrice"
          type="number"
          class="form-control">
  </div>

  <button class="btn" type="submit" [disabled]="!form.valid">Submit</button>
</form>

